<div class="about_area">
<form class="busqueda">
        <input  type="text" placeholder="Search" #buscar aria-label="Search" class="txtsearch">
        <button  type="button" class="search" (click)="getmusic(buscar)"> Search </button>
    </form>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-xl-12 col-md-6">
                <div id="info" >
                    <div class="about_info" >
                        <h3>{{mus[0].artist.name}}</h3>
                    </div>
                
                <div class="about_thumb">
                    <img class="img-fluid" src="{{mus[0].artist.picture_big}}" alt="">
                </div>
            </div>
            </div>

     
            
            <div *ngFor="let item of mus; " class="col-xl-12 col-md-6" id="conten">
                
                <div class="albums">
                  <h1> {{item.album.title}} </h1>
                  <span> {{item.album.id}} </span>
                  
                  <button  type="button" class="search"  > Search </button>
                </div>
                <div class="cover">
                    <img src="{{item.album.cover}}" alt="" >
                  
                </div>
            </div >
        </div >
        
    </div>
</div>
<div class="music_area music_gallery">
    <div class="container">
            <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center mb-65">
                            <h3> Tracks</h3>
                        </div>
                    </div>
                </div>
        <div class="row align-items-center justify-content-center mb-20">
            <div class="col-xl-10">
                <div class="row align-items-center">
                            <div *ngFor="let item of mus" class="col-xl-12 col-md-9">
                                <div class="music_field"  id="musica" >
                                        <div class="thumb" id="thumb">
                                                <img src="{{item.album.cover}}" alt="">
                                            </div>
                                            <div class="audio_name">
                                                <div class="name">
                                                    <h4>{{item.title_short}}</h4>
                                                   
                                                </div>
                                                    <audio src="{{item.preview}}" controls="controls" type="audio/mpeg" preload="preload">
                                                            
                                                        </audio>
                                            </div>
                                </div>
                            </div>
                </div>
            </div>
    </div>
</div>